---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import AudioToggle from '../components/AudioToggle.astro';
---

<Layout title="Art Mariam | Digital Portfolio">
	<main class="bg-[#0f0d0c] overflow-x-hidden">
		<Hero />
		<Gallery />
		<AudioToggle />
	</main>
</Layout>
